<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load static %}
    {% block page_content %}
    <h1>Project Index</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img src="{% static 'img/project1.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ project.title }}</h5>
                      <p class="card-text">{{ project.description | slice:":200" }}...</p>
                      <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>